h1{
    color:green;
    text-align: center;
    font-size: 40px;
    font-style: italic;

}

table {
    color: rgb(199, 13, 13);
    border-spacing: 10px;
    text-align: center;
}

.center-align{
    color: red;    
    background-color: antiquewhite;
    text-align: center;
}

img{
    height: 160px;
    width:200px;

}
 button:hover{
    background-color: rgb(237, 69, 69);
    color: skyblue;
 }

 



.container {
  position: left;
  text-align: left;
  color: blue;
}


.column__image{
    width: 193px;
    margin-bottom: 10px;
    border-radius: 10%;
}

.column__image img{
    height: 160px;
    width: 200px;    
}


.product-header{
    color: red;    
    background-color: white;
    text-align: center;
    margin-bottom: 20px;
}

.product-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
  
}

.horizonal-align {
    width:1000px;
    height:250px;
    background:white;
    margin: 4% 0 0 1%;
    background-color:white;
    align-content: center;
    display: flex;
}

.horizonal-divs {
    height:200px;
    width: 24%;
    background:white;
    display:inline-block;
    margin: 0 1% 1% 0;
}

.adjust{
    width: 30%;
    height: 30%;
}

.container-pos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.position{ 
    background-color: beige;
    background-image: url(/images/bodyshop_3.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px;    
    width: 500px;
    height: 600px;

}

.txt-pos{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40%;
}
